.idea/

# Logs
logs
*.log
npm-debug.log*


# Dependency directories
node_modules
bower_components

# Optional npm cache directory
.npm

.DS_Store
*.rdb
*.pyc
/training/.ipynb_checkpoints/
recsystem/__pycache__/
recsystem/embedder/__pycache__/
recsystem/embedder/lib/__pycache__/
/training/output/
